@page
@model WebApplication1.Pages.Admin.DeleteModel
@{
    ViewData["Title"] = "Удаление пользователя";
}
<h1>Удаление пользователя</h1>
<h3>Вы уверены, что хотите удалить пользователя @Model.UserToDelete?.Email?</h3>
<div>
    <form method="post">
        <input type="hidden" asp-for="UserToDelete.Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад</a>
    </form>
</div>